In [6]:
#Importar pandas
import pandas as pd

#Operaciones numericas
import numpy as np

#Crear graficos
import matplotlib.pyplot as plt

In [7]:
estructura = {
    "nombres": ["Juan", "Pedro", "Luis", "Belen", "Mateo", "Andrea"],
    "correlativo": [1, 4, 9, 155, 152, 158],
    "altura": [3.1, 5.2, 4.8, 2.9, 4.3, 4.9]
}

In [12]:
df = pd.DataFrame(estructura)
df #No poner print para que se muestren como tabla

  nombres  correlativo  altura
0    Juan            1     3.1
1   Pedro            4     5.2
2    Luis            9     4.8
3   Belen          155     2.9
4   Mateo          152     4.3
5  Andrea          158     4.9

In [11]:
df["nombres"] #acceder a la columna "nombres"

0      Juan
1     Pedro
2      Luis
3     Belen
4     Mateo
5    Andrea
Name: nombres, dtype: object

In [13]:
df.loc[3] #accedo al registro (fila) 3 del df

nombres        Belen
correlativo      155
altura           2.9
Name: 3, dtype: object